# This requirements file should only include dependencies for testing
pytest                                  # test framework
pytest-cov                              # coverage test
deltalake>=0.18.2,<1.0.0
