colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and (os_name == "nt" or sys_platform == "win32")
coverage==7.7.1 ; python_version >= "3.9" and python_version < "4.0"
deltalake==0.25.5 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
func-args==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
iniconfig==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.9" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
polars==1.30.0 ; python_version >= "3.9" and python_version < "4.0"
pyarrow==20.0.0 ; python_version >= "3.9" and python_version < "4.0"
pytest-cov==6.0.0 ; python_version >= "3.9" and python_version < "4.0"
pytest==8.3.5 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
